<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Just an image -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/img¿/A-64.png" width="30" height="30" alt="">
    </a>
  </nav>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <!-- 
        Para poder usar las rutas en nuestro nav usaremos la direciva
        [routerLink] = "['']"
        Es un array en el cual pondremos el nombre de la ruta ejmplo: ['heroes', 'pagina') equivale a /heroes/pagina
      -->
      <li class="nav-item" ><!-- active -->
        <a class="nav-link" [routerLink] = "['home']">Home </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['heroes']">Heroes</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" [routerLink] = "['about']">About</a>
        </li>

    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search hero" (keyup.enter)="searchHero(heroToSearch.value)" #heroToSearch>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="searchHero(heroToSearch.value)">Search hero</button>
    </div>
  </div>
</nav>
