<!-- En este ejemplo trabajaremos con rutas hijas
  en este caso estas son rutas hijas del componente user
-->

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary"  [routerLink]="['new']" routerLinkActive="active"> New </button>
  <button type="button" class="btn btn-secondary"  [routerLink]="['edit']" routerLinkActive="active"> Edit</button>
  <button type="button" class="btn btn-secondary"  [routerLink]="['detail']" routerLinkActive="active"> Detail</button>
</div>


